= render 'shared/side_bar'

.contents
  .contents__head
    .contents__head__left
      .contents__head__left__group-name
        Current_group
      .contents__head__left__member-name
        Member : Hoge Hoge Fuga Fuga
    .contents__head__edit-btn
      Edit
  .contents__main
    .contents__main__text-box
      .contents__main__text-box--up
        .contents__main__text-box--up__name
          Kei
        .contents__main__text-box--up__date
          2019/10/18(Fri) 16:49:32
      .contents__main__text-box__comment
        Hello world
    .contents__main__text-box
      .contents__main__text-box--up
        .contents__main__text-box--up__name
          Nishiguchi
        .contents__main__text-box--up__date
          2019/10/19(Sut) 16:49:32
      .contents__main__text-box__comment
        hogehoge

  .form
    = form_for [@group, @message] do |f|
      .form__input-box
        = f.text_field :content, class: 'form__input-box__message', placeholder: 'type a message'
        .form__input-box__mask
          = f.label :image, class: 'form__input-box__mask__image' do
            = fa_icon 'picture-o', class: 'icon'
            = f.file_field :image, class: 'hidden'
      = f.submit 'Send', class: 'form__submit'